node_modules/
dist/
.env
*.env.local
storage/photos/**/*.jpg
storage/photos/**/*.jpeg
storage/photos/**/*.png
storage/photos/**/*.webp
storage/salons/**/*.jpg
storage/salons/**/*.jpeg
storage/salons/**/*.png
storage/salons/**/*.webp
*.log
prisma/migrations/**/*.sql.bak
